

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-tabs {
    height: 250px;
  }
</style></p>
<div class="html_demo"><mdl-tabs ripple>
  <mdl-tab-bar>
    <mdl-tab href="#starks-panel" active>Starks</mdl-tab>
    <mdl-tab href="#lannisters-panel">Lannisters</mdl-tab>
    <mdl-tab href="#targaryens-panel">Targaryens</mdl-tab>
  </mdl-tab-bar>

  <mdl-tab-panel id="starks-panel" active>
    <ul>
      <li>Eddard</li>
      <li>Catelyn</li>
      <li>Robb</li>
      <li>Sansa</li>
      <li>Brandon</li>
      <li>Arya</li>
      <li>Rickon</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel id="lannisters-panel">
    <ul>
      <li>Tywin</li>
      <li>Cersei</li>
      <li>Jamie</li>
      <li>Tyrion</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel id="targaryens-panel">
    <ul>
      <li>Viserys</li>
      <li>Daenerys</li>
    </ul>
  </mdl-tab-panel>
</mdl-tabs></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-tabs</span> <span class="hljs-attr">ripple</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-bar</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#starks-panel"</span> <span class="hljs-attr">active</span>&gt;</span>Starks<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#lannisters-panel"</span>&gt;</span>Lannisters<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#targaryens-panel"</span>&gt;</span>Targaryens<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-bar</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"starks-panel"</span> <span class="hljs-attr">active</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Eddard<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Catelyn<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Robb<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Sansa<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Brandon<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Arya<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Rickon<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"lannisters-panel"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Tywin<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Cersei<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Jamie<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Tyrion<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"targaryens-panel"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Viserys<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Daenerys<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tabs</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-tabs</td>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Applies ripples effect on tabs</td>
<td>Optional</td>
</tr>
</tbody>
</table>


