

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-cell {
    box-sizing: border-box;
    background-color: #bdbdbd;
    height: 30px;
    padding-left: 8px;
    padding-top: 4px;
    color: #fff;
  }
</style></p>
<div class="html_demo"><mdl-grid>
    <mdl-cell shadow="2" col="1">1</mdl-cell>
    <mdl-cell shadow="3" col="1">1</mdl-cell>
    <mdl-cell shadow="4" col="1">1</mdl-cell>
    <mdl-cell shadow="6" col="1">1</mdl-cell>
    <mdl-cell shadow="8" col="1">1</mdl-cell>
    <mdl-cell shadow="16" col="1">1</mdl-cell>
    <mdl-cell shadow="24" col="1">1</mdl-cell>
    <mdl-cell shadow="16" col="1">1</mdl-cell>
    <mdl-cell shadow="8" col="1">1</mdl-cell>
    <mdl-cell shadow="4" col="1">1</mdl-cell>
    <mdl-cell shadow="3" col="1">1</mdl-cell>
    <mdl-cell shadow="2" col="1">1</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="6">6</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="2">2</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="6" tablet="8">6 (8 tablet)</mdl-cell>
    <mdl-cell col="4" tablet="6">4 (6 tablet)</mdl-cell>
    <mdl-cell col="2" phone="4">2 (4 phone)</mdl-cell>
</mdl-grid></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"3"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"8"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"16"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"16"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"8"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"3"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"6"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">tablet</span>=<span class="hljs-string">"8"</span>&gt;</span>6 (8 tablet)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">tablet</span>=<span class="hljs-string">"6"</span>&gt;</span>4 (6 tablet)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">phone</span>=<span class="hljs-string">"4"</span>&gt;</span>2 (4 phone)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-grid</td>
<td><code>no-spacing</code></td>
<td>Boolean</td>
<td>Removes the margins between the cells.</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-grid</td>
<td><code>shadow</code></td>
<td>Number</td>
<td>Defines the shadow depth</td>
<td>Optional, Default 0. Must be between 0 and 6</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>align</code></td>
<td>String[top, middle, bottom, stretch]</td>
<td>Set the cell alignment</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>col</code></td>
<td>Number[1..12]</td>
<td>Set the column size</td>
<td>Required</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-desktop</code></td>
<td>Boolean</td>
<td>Hide the cell in desktop mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-phone</code></td>
<td>Boolean</td>
<td>Hide the cell in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-tablet</code></td>
<td>Boolean</td>
<td>Hide the cell in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-desktop</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in desktop mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-phone</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-tablet</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>phone</code></td>
<td>Number[1..12]</td>
<td>Set the column size in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>tablet</code></td>
<td>Number[1..12]</td>
<td>Set the column size in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>shadow</code></td>
<td>Number</td>
<td>Defines the shadow depth</td>
<td>Optional, Default 0. Must be between 0 and 6</td>
</tr>
</tbody>
</table>


