

<h2 id="demo">Demo</h2>
<div class="html_demo"><mdl-button ripple raised primary onclick="showDialog()">Show Dialog</mdl-button>
<mdl-dialog>
  <mdl-dialog-title>
    <h4>Allow data collection?</h4>
  </mdl-dialog-title>
  <mdl-dialog-content>
    <p>
      Allowing us to collect data will let us get you the information you want faster.
    </p>
  </mdl-dialog-content>
  <mdl-dialog-actions>
    <mdl-button class="close">Disagree</mdl-button>
    <mdl-button primary raised>Agree</mdl-button>
  </mdl-dialog-actions>
</mdl-dialog>

<script>
  function showDialog() {
    var dialog = document.querySelector('mdl-dialog');
    dialog.open = true;
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.open = false;
    });
  }
</script></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-button</span> <span class="hljs-attr">ripple</span> <span class="hljs-attr">raised</span> <span class="hljs-attr">primary</span> <span class="hljs-attr">onclick</span>=<span class="hljs-string">"showDialog()"</span>&gt;</span>Show Dialog<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-dialog</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-dialog-title</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Allow data collection?<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-dialog-title</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-dialog-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
      Allowing us to collect data will let us get you the information you want faster.
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-dialog-content</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-dialog-actions</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"close"</span>&gt;</span>Disagree<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-button</span> <span class="hljs-attr">primary</span> <span class="hljs-attr">raised</span>&gt;</span>Agree<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-dialog-actions</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-dialog</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span><span class="javascript">
  <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">showDialog</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">var</span> dialog = <span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">'mdl-dialog'</span>);
    dialog.open = <span class="hljs-literal">true</span>;
    dialog.querySelector(<span class="hljs-string">'.close'</span>).addEventListener(<span class="hljs-string">'click'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
      dialog.open = <span class="hljs-literal">false</span>;
    });
  }
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-dialog</td>
<td><code>open</code></td>
<td>Boolean</td>
<td>Set the open state of the dialog</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-dialog-title</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>mdl-dialog-content</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>mdl-dialog-actions</td>
<td><code>full-width</code></td>
<td>Boolean</td>
<td>Apply the full-width effect to all children of dialog actions</td>
<td>Optional</td>
</tr>
</tbody>
</table>


