

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo .mdl-layout__container {
    height: 300px;
    position: relative;
  }
</style></p>
<div class="html_demo"><mdl-layout fixed-drawer>

  <mdl-header style="background-color: #3F51B5;">
    <mdl-header-row>
      <span class="mdl-layout-title">Title</span>
      <mdl-spacer></mdl-spacer>
      <mdl-navigation>
        <a href="">Link1</a>
        <a href="">Link2</a>
        <a href="">Link3</a>
        <a href="">Link4</a>
      </mdl-navigation>
      </mdl-header-row>
  </mdl-header>

  <mdl-drawer>
    <span class="mdl-layout-title">Title</span>
    <mdl-navigation>
      <a href="">Link</a>
      <a href="">Link</a>
      <a href="">Link</a>
      <a href="">Link</a>
    </mdl-navigation>
  </mdl-drawer>
  <mdl-content>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
  <mdl-content>
</mdl-layout></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-layout</span> <span class="hljs-attr">fixed-drawer</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-header</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"background-color: #3F51B5;"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-header-row</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mdl-layout-title"</span>&gt;</span>Title<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-spacer</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-spacer</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-navigation</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link1<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link2<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link3<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link4<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-navigation</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-header-row</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-header</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-drawer</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mdl-layout-title"</span>&gt;</span>Title<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-navigation</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-navigation</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-drawer</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-content</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-layout</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>fixed-header</code></td>
<td>Fixed header fixed to screen</td>
<td>Optional</td>
</tr>
<tr>
<td><code>fixed-drawer</code></td>
<td>Fixed drawer fixed to screen</td>
<td>Optional</td>
</tr>
<tr>
<td><code>fixed-tabs</code></td>
<td>Fixed tabs fixed to screen</td>
<td>Optional</td>
</tr>
</tbody>
</table>


