

<h2 id="demo">Demo</h2>
<div class="html_demo"><mdl-switch onchange="alert(event.target.checked);"></mdl-switch>
<mdl-switch ripple checked label="checked"></mdl-switch>
<mdl-switch disabled label="disabled"></mdl-switch>
<mdl-switch disabled checked label="disabled checked"></mdl-switch></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span> <span class="hljs-attr">onchange</span>=<span class="hljs-string">"alert(event.target.checked);"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span> <span class="hljs-attr">ripple</span> <span class="hljs-attr">checked</span> <span class="hljs-attr">label</span>=<span class="hljs-string">"checked"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span> <span class="hljs-attr">disabled</span> <span class="hljs-attr">label</span>=<span class="hljs-string">"disabled"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span> <span class="hljs-attr">disabled</span> <span class="hljs-attr">checked</span> <span class="hljs-attr">label</span>=<span class="hljs-string">"disabled checked"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>label</code></td>
<td>String</td>
<td>Defines the label of the radio</td>
<td>Optional</td>
</tr>
<tr>
<td><code>checked</code></td>
<td>Boolean</td>
<td>Defines the checkbox as &quot;checked&quot;</td>
<td>Optional</td>
</tr>
<tr>
<td><code>disabled</code></td>
<td>Boolean</td>
<td>Defines the checkbox as &quot;disabled&quot;</td>
<td>Optional</td>
</tr>
<tr>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Applies the ripple effect</td>
<td>Optional</td>
</tr>
<tr>
<td><code>onchange</code></td>
<td>Function</td>
<td>Callback to receive the change event</td>
<td>Optional</td>
</tr>
</tbody>
</table>


