<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Webcomponents for Material-Design-Lite that helps you build fast, modern mobile web apps.">
    <title>webcomponent-mdl: Web Components for Material Design Lite</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-amber.min.css">
    <link rel="stylesheet" href="../assets/vs.css">
    <link rel="stylesheet" href="../assets/main.css">

  </head>
  <body>
    <mdl-layout class="docs-layout" fixed-header>

      <mdl-header>
        <mdl-header-row>
          <span class="mdl-layout-title">
            <a href="../index.html" style="color:white;text-decoration:none;">
              WebComponent-MDL
            </a>
          </span>
          <mdl-spacer></mdl-spacer>
          <mdl-navigation ripple>
            <a href="../started/index.html">Getting Started</a>
            <a href="../components/index.html">Components</a>
            <a href="../templates/index.html">Templates</a>
            <a href="https://github.com/FIEOSA/webcomponent-mdl">
              <mdl-icon style="margin-right:7px;">link</mdl-icon>GitHub</a>
          </mdl-navigation>
        </mdl-header-row>
      </mdl-header>

      <mdl-content class="docs-layout-content">
        <mdl-grid no-spacing class="content" id="content">

          
<link href="../assets/components.css" rel="stylesheet">
<script src="../assets/components.js"></script>

<div class="mdl-components mdl-js-components mdl-cell mdl-cell--12-col">
  <aside class="mdl-components__nav docs-text-styling mdl-shadow--4dp">
    
    <a href="#badges-section" class="mdl-components__link mdl-component badges">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_badges.png')">
      </div>
      <span class="mdl-components__link-text">Badges</span>
    </a>
    
    <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_buttons.png')">
      </div>
      <span class="mdl-components__link-text">Buttons</span>
    </a>
    
    <a href="#cards-section" class="mdl-components__link mdl-component cards">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_cards.png')">
      </div>
      <span class="mdl-components__link-text">Cards</span>
    </a>
    
    <a href="#chips-section" class="mdl-components__link mdl-component chips">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_chips.png')">
      </div>
      <span class="mdl-components__link-text">Chips</span>
    </a>
    
    <a href="#dialog-section" class="mdl-components__link mdl-component dialog">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_dialog.png')">
      </div>
      <span class="mdl-components__link-text">Dialogs</span>
    </a>
    
    <a href="#layout-section" class="mdl-components__link mdl-component layout">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_layout.png')">
      </div>
      <span class="mdl-components__link-text">Layout</span>
    </a>
    
    <a href="#lists-section" class="mdl-components__link mdl-component lists">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_lists.png')">
      </div>
      <span class="mdl-components__link-text">Lists</span>
    </a>
    
    <a href="#loading-section" class="mdl-components__link mdl-component loading">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_loading.png')">
      </div>
      <span class="mdl-components__link-text">Loading</span>
    </a>
    
    <a href="#menus-section" class="mdl-components__link mdl-component menus">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_menus.png')">
      </div>
      <span class="mdl-components__link-text">Menus</span>
    </a>
    
    <a href="#sliders-section" class="mdl-components__link mdl-component sliders">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_sliders.png')">
      </div>
      <span class="mdl-components__link-text">Sliders</span>
    </a>
    
    <a href="#snackbar-section" class="mdl-components__link mdl-component snackbar">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_snackbar.png')">
      </div>
      <span class="mdl-components__link-text">Snackbar</span>
    </a>
    
    <a href="#toggles-section" class="mdl-components__link mdl-component toggles">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_toggles.png')">
      </div>
      <span class="mdl-components__link-text">Toggles</span>
    </a>
    
    <a href="#tables-section" class="mdl-components__link mdl-component tables">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_tables.png')">
      </div>
      <span class="mdl-components__link-text">Tables</span>
    </a>
    
    <a href="#textfields-section" class="mdl-components__link mdl-component textfields">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_textfields.png')">
      </div>
      <span class="mdl-components__link-text">Text Fields</span>
    </a>
    
    <a href="#tooltips-section" class="mdl-components__link mdl-component tooltips">
      <div class="mdl-components__link-image"
           style="background-image: url('../assets/comp_tooltips.png')">
      </div>
      <span class="mdl-components__link-text">Tooltips</span>
    </a>
    
  </aside>
  <main class="mdl-components__pages">
    <section id="index-section" class="mdl-components-index mdl-components__page">
      <div class="mdl-components-index-text mdl-grid">
        <div class="mdl-components-text docs-text-styling about-panel about-panel--text mdl-cell mdl-cell--12-col">
          <dl class="mdl-components-dl">
            <dt class="mdl-components-dt">COMPONENTS</dt>
            <dd class="mdl_components-dd">
              Webcomponents for Material-Design-Lite that helps you build fast, modern mobile web apps.
            </dd>
          </dl>
        </div>
      </div>
    </section>

    <section id="badges-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Badges</h3>
          <p>Small status descriptors for UI elements.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-icon,
  .html_demo mdl-badge {
    font-size: 24px;
  }
</style></p>
<div class="html_demo"><mdl-badge text="6" no-background></mdl-badge>
<mdl-badge text="♥"></mdl-badge>
<mdl-badge text="♥" overlap>
  <mdl-icon>mood</mdl-icon>
</mdl-badge>
<mdl-badge text="♥" no-background>
  <mdl-icon>face</mdl-icon>
</mdl-badge></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">no-background</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span> <span class="hljs-attr">overlap</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>mood<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span> <span class="hljs-attr">no-background</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>face<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>text</code></td>
<td>Assign string value to badge</td>
<td>Required</td>
</tr>
<tr>
<td><code>overlap</code></td>
<td>Makes the badge overlaps its container</td>
<td>Optional</td>
</tr>
<tr>
<td><code>no-background</code></td>
<td>Removes the background of the badge</td>
<td>Optional</td>
</tr>
</tbody>
</table>



          </div>
        
      </div>
    </section>
    <section id="buttons-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Buttons</h3>
          <p>Variations on Material Design buttons.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<div class="html_demo"><mdl-button
  href="http://www.baidu.com/"
  target="_blank"
  onclick="console.log('clicked baidu');"
  ripple raised primary>
  Go To Baidu
</mdl-button>
<mdl-button
  href="https://google.ca"
  target="_self"
  onclick="alert('clicked google');"
  ripple raised accent>
  Go To Google
</mdl-button>

<mdl-icon-button
  onclick="console.log('icon google');"
  name="mood"
  ripple raised accent>
</mdl-icon-button></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-button</span>
  <span class="hljs-attr">href</span>=<span class="hljs-string">"http://www.baidu.com/"</span>
  <span class="hljs-attr">target</span>=<span class="hljs-string">"_blank"</span>
  <span class="hljs-attr">onclick</span>=<span class="hljs-string">"console.log('clicked baidu');"</span>
  <span class="hljs-attr">ripple</span> <span class="hljs-attr">raised</span> <span class="hljs-attr">primary</span>&gt;</span>
  Go To Baidu
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-button</span>
  <span class="hljs-attr">href</span>=<span class="hljs-string">"https://google.ca"</span>
  <span class="hljs-attr">target</span>=<span class="hljs-string">"_self"</span>
  <span class="hljs-attr">onclick</span>=<span class="hljs-string">"alert('clicked google');"</span>
  <span class="hljs-attr">ripple</span> <span class="hljs-attr">raised</span> <span class="hljs-attr">accent</span>&gt;</span>
  Go To Google
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-button</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-button</span>
  <span class="hljs-attr">onclick</span>=<span class="hljs-string">"console.log('icon google');"</span>
  <span class="hljs-attr">name</span>=<span class="hljs-string">"mood"</span>
  <span class="hljs-attr">ripple</span> <span class="hljs-attr">raised</span> <span class="hljs-attr">accent</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-button</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>href</code></td>
<td>String</td>
<td>Same as a tag</td>
<td>Optional</td>
</tr>
<tr>
<td><code>target</code></td>
<td>String</td>
<td>Same as a tag</td>
<td>Optional</td>
</tr>
<tr>
<td><code>onclick</code></td>
<td>Function</td>
<td>Same as a tag</td>
<td>Optional</td>
</tr>
<tr>
<td><code>accent</code></td>
<td>Boolean</td>
<td>Applies &quot;accent&quot; colors</td>
<td>Optional</td>
</tr>
<tr>
<td><code>colored</code></td>
<td>Boolean</td>
<td>Applies &quot;colored&quot; colors</td>
<td>Optional</td>
</tr>
<tr>
<td><code>name</code></td>
<td>String</td>
<td>Set the icon name&quot;</td>
<td>Optional, works only with &quot;IconButton&quot;</td>
</tr>
<tr>
<td><code>primary</code></td>
<td>Boolean</td>
<td>Applies &quot;primary&quot; colors</td>
<td>Optional</td>
</tr>
<tr>
<td><code>raised</code></td>
<td>Boolean</td>
<td>Applies &quot;raised&quot; button style</td>
<td>Optional, doesn\&#39;t work with &quot;FABButton&quot;</td>
</tr>
<tr>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Applies &quot;ripple&quot; click effect</td>
<td>Optional</td>
</tr>
</tbody>
</table>



          </div>
        
      </div>
    </section>
    <section id="cards-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Cards</h3>
          <p>Self-contained pieces of paper with data.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-card {
  }
</style></p>
<div class="html_demo"><mdl-card shadow="8">
  <mdl-card-title>
    Welcom to
    <a href="google.com">WC</a>
    !
  </mdl-card-title>
</mdl-card></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-card</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"8"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-card-title</span>&gt;</span>
    Welcom to
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"google.com"</span>&gt;</span>WC<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    !
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-card-title</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-card</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-card</td>
<td><code>shadow</code></td>
<td>Number</td>
<td>Defines the shadow depth</td>
<td>Optional, Default 0. Must be between 0 and 6</td>
</tr>
</tbody>
</table>



          </div>
        
      </div>
    </section>
    <section id="chips-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Chips</h3>
          <p>Represents complex entities in small blocks.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="dialog-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Dialogs</h3>
          <p>Modal windows for dedicated user input.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
           <div class="mdl-components__warning"><b>Note: </b>Dialogs use the HTML &lt;dialog&gt; element, which currently has very limited cross-browser support. To ensure support across all modern browsers, please consider using a polyfill or creating your own. There is no polyfill included with MDL.</div>
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="layout-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Layout</h3>
          <p>Building blocks for constructing a page layout.</p>
        </div>

        
          <section class="docs-toc docs-text-styling">
            <nav class="section-content">
              <ul>
                
                  <li><a href="#layout-section/layout">Navigation layouts</a></li>
                
                  <li><a href="#layout-section/grid">Grid</a></li>
                
                  <li><a href="#layout-section/tabs">Tabs</a></li>
                
                  <li><a href="#layout-section/footer">Footer</a></li>
                
              </ul>
            </nav>
          </section>
        

        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="layout-section/layout">Navigation layouts</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo .mdl-layout__container {
    height: 300px;
    position: relative;
  }
</style></p>
<div class="html_demo"><mdl-layout fixed-drawer>

  <mdl-header style="background-color: #3F51B5;">
    <mdl-header-row>
      <span class="mdl-layout-title">Title</span>
      <mdl-spacer></mdl-spacer>
      <mdl-navigation>
        <a href="">Link1</a>
        <a href="">Link2</a>
        <a href="">Link3</a>
        <a href="">Link4</a>
      </mdl-navigation>
      </mdl-header-row>
  </mdl-header>

  <mdl-drawer>
    <span class="mdl-layout-title">Title</span>
    <mdl-navigation>
      <a href="">Link</a>
      <a href="">Link</a>
      <a href="">Link</a>
      <a href="">Link</a>
    </mdl-navigation>
  </mdl-drawer>
  <mdl-content>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
    <p>content</p>
  <mdl-content>
</mdl-layout></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-layout</span> <span class="hljs-attr">fixed-drawer</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-header</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"background-color: #3F51B5;"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-header-row</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mdl-layout-title"</span>&gt;</span>Title<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-spacer</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-spacer</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-navigation</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link1<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link2<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link3<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link4<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-navigation</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-header-row</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-header</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-drawer</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mdl-layout-title"</span>&gt;</span>Title<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-navigation</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">""</span>&gt;</span>Link<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-navigation</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-drawer</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>content<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-content</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-layout</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>fixed-header</code></td>
<td>Fixed header fixed to screen</td>
<td>Optional</td>
</tr>
<tr>
<td><code>fixed-drawer</code></td>
<td>Fixed drawer fixed to screen</td>
<td>Optional</td>
</tr>
<tr>
<td><code>fixed-tabs</code></td>
<td>Fixed tabs fixed to screen</td>
<td>Optional</td>
</tr>
</tbody>
</table>



          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="layout-section/grid">Grid</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-cell {
    box-sizing: border-box;
    background-color: #bdbdbd;
    height: 30px;
    padding-left: 8px;
    padding-top: 4px;
    color: #fff;
  }
</style></p>
<div class="html_demo"><mdl-grid>
    <mdl-cell shadow="2" col="1">1</mdl-cell>
    <mdl-cell shadow="3" col="1">1</mdl-cell>
    <mdl-cell shadow="4" col="1">1</mdl-cell>
    <mdl-cell shadow="6" col="1">1</mdl-cell>
    <mdl-cell shadow="8" col="1">1</mdl-cell>
    <mdl-cell shadow="16" col="1">1</mdl-cell>
    <mdl-cell shadow="24" col="1">1</mdl-cell>
    <mdl-cell shadow="16" col="1">1</mdl-cell>
    <mdl-cell shadow="8" col="1">1</mdl-cell>
    <mdl-cell shadow="4" col="1">1</mdl-cell>
    <mdl-cell shadow="3" col="1">1</mdl-cell>
    <mdl-cell shadow="2" col="1">1</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="6">6</mdl-cell>
    <mdl-cell col="4">4</mdl-cell>
    <mdl-cell col="2">2</mdl-cell>
</mdl-grid>
<mdl-grid>
    <mdl-cell col="6" tablet="8">6 (8 tablet)</mdl-cell>
    <mdl-cell col="4" tablet="6">4 (6 tablet)</mdl-cell>
    <mdl-cell col="2" phone="4">2 (4 phone)</mdl-cell>
</mdl-grid></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"3"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"8"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"16"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"24"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"16"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"8"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"3"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">shadow</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"1"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"6"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"2"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-grid</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">tablet</span>=<span class="hljs-string">"8"</span>&gt;</span>6 (8 tablet)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"4"</span> <span class="hljs-attr">tablet</span>=<span class="hljs-string">"6"</span>&gt;</span>4 (6 tablet)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-cell</span> <span class="hljs-attr">col</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">phone</span>=<span class="hljs-string">"4"</span>&gt;</span>2 (4 phone)<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-cell</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-grid</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-grid</td>
<td><code>no-spacing</code></td>
<td>Boolean</td>
<td>Removes the margins between the cells.</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-grid</td>
<td><code>shadow</code></td>
<td>Number</td>
<td>Defines the shadow depth</td>
<td>Optional, Default 0. Must be between 0 and 6</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>align</code></td>
<td>String[top, middle, bottom, stretch]</td>
<td>Set the cell alignment</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>col</code></td>
<td>Number[1..12]</td>
<td>Set the column size</td>
<td>Required</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-desktop</code></td>
<td>Boolean</td>
<td>Hide the cell in desktop mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-phone</code></td>
<td>Boolean</td>
<td>Hide the cell in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>hide-tablet</code></td>
<td>Boolean</td>
<td>Hide the cell in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-desktop</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in desktop mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-phone</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>offset-tablet</code></td>
<td>Number[1..7]</td>
<td>Adds N columns of whitespace before the cell in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>phone</code></td>
<td>Number[1..12]</td>
<td>Set the column size in phone mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>tablet</code></td>
<td>Number[1..12]</td>
<td>Set the column size in tablet mode</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-cell</td>
<td><code>shadow</code></td>
<td>Number</td>
<td>Defines the shadow depth</td>
<td>Optional, Default 0. Must be between 0 and 6</td>
</tr>
</tbody>
</table>



          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="layout-section/tabs">Tabs</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-tabs {
    height: 250px;
  }
</style></p>
<div class="html_demo"><mdl-tabs ripple>
  <mdl-tab-bar>
    <mdl-tab href="#starks-panel" active>Starks</mdl-tab>
    <mdl-tab href="#lannisters-panel">Lannisters</mdl-tab>
    <mdl-tab href="#targaryens-panel">Targaryens</mdl-tab>
  </mdl-tab-bar>

  <mdl-tab-panel id="starks-panel" active>
    <ul>
      <li>Eddard</li>
      <li>Catelyn</li>
      <li>Robb</li>
      <li>Sansa</li>
      <li>Brandon</li>
      <li>Arya</li>
      <li>Rickon</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel id="lannisters-panel">
    <ul>
      <li>Tywin</li>
      <li>Cersei</li>
      <li>Jamie</li>
      <li>Tyrion</li>
    </ul>
  </mdl-tab-panel>
  <mdl-tab-panel id="targaryens-panel">
    <ul>
      <li>Viserys</li>
      <li>Daenerys</li>
    </ul>
  </mdl-tab-panel>
</mdl-tabs></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-tabs</span> <span class="hljs-attr">ripple</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-bar</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#starks-panel"</span> <span class="hljs-attr">active</span>&gt;</span>Starks<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#lannisters-panel"</span>&gt;</span>Lannisters<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#targaryens-panel"</span>&gt;</span>Targaryens<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-bar</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"starks-panel"</span> <span class="hljs-attr">active</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Eddard<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Catelyn<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Robb<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Sansa<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Brandon<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Arya<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Rickon<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"lannisters-panel"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Tywin<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Cersei<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Jamie<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Tyrion<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-tab-panel</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"targaryens-panel"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Viserys<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>Daenerys<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tab-panel</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tabs</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-tabs</td>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Applies ripples effect on tabs</td>
<td>Optional</td>
</tr>
</tbody>
</table>



          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="layout-section/footer">Footer</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="lists-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Lists</h3>
          <p>Customizable scrollable lists.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="loading-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Loading</h3>
          <p>Indicate loading and progress states.</p>
        </div>

        
          <section class="docs-toc docs-text-styling">
            <nav class="section-content">
              <ul>
                
                  <li><a href="#loading-section/progress">Progress bar</a></li>
                
                  <li><a href="#loading-section/spinner">Spinner</a></li>
                
              </ul>
            </nav>
          </section>
        

        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="loading-section/progress">Progress bar</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="loading-section/spinner">Spinner</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="menus-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Menus</h3>
          <p>Lists of clickable actions.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="sliders-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Sliders</h3>
          <p>Selecting a value out of a range.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="snackbar-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Snackbar</h3>
          <p>Transient popup notifications.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="toggles-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Toggles</h3>
          <p>Choose between states.</p>
        </div>

        
          <section class="docs-toc docs-text-styling">
            <nav class="section-content">
              <ul>
                
                  <li><a href="#toggles-section/checkbox">Checkbox</a></li>
                
                  <li><a href="#toggles-section/radio">Radio button</a></li>
                
                  <li><a href="#toggles-section/icon-toggle">Icon toggle</a></li>
                
                  <li><a href="#toggles-section/switch">Switch</a></li>
                
              </ul>
            </nav>
          </section>
        

        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="toggles-section/checkbox">Checkbox</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="toggles-section/radio">Radio button</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="toggles-section/icon-toggle">Icon toggle</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        

          
            <span class="docs-text-styling">
              <h1 class="mdl-components__classname" id="toggles-section/switch">Switch</h1>
            </span>
          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="tables-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Tables</h3>
          <p>Organize data.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="textfields-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Text Fields</h3>
          <p>Textual input components.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            
          </div>
        
      </div>
    </section>
    <section id="tooltips-section" class="mdl-components__page mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Tooltips</h3>
          <p>Useful information on hover.</p>
        </div>

        

        

          
          <!-- Add warning, if the component has one -->
          
          <div class="docs-text-styling docs-readme">
            
            

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo #ttl1,
  .html_demo #ttl2,
  .html_demo #ttl3,
  .html_demo #ttl4 {
    background-color: #FFD740;
    padding: 10px;
    margin: 10px 20px;
  }
</style></p>
<div class="html_demo"><span id="ttl1">top</span>
<mdl-tooltip for="ttl1" position="top">top tooltop</mdl-tooltip>

<span id="ttl2">large bottom</span>
<mdl-tooltip for="ttl2" large position="bottom">large bottom tooltop</mdl-tooltip>

<span id="ttl3">left</span>
<mdl-tooltip for="ttl3" position="left">left tooltop</mdl-tooltip>

<span id="ttl4">large right</span>
<mdl-tooltip for="ttl4" large position="right">large right tooltop</mdl-tooltip></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"ttl1"</span>&gt;</span>top<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-tooltip</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"ttl1"</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"top"</span>&gt;</span>top tooltop<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tooltip</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"ttl2"</span>&gt;</span>large bottom<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-tooltip</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"ttl2"</span> <span class="hljs-attr">large</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"bottom"</span>&gt;</span>large bottom tooltop<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tooltip</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"ttl3"</span>&gt;</span>left<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-tooltip</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"ttl3"</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"left"</span>&gt;</span>left tooltop<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tooltip</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"ttl4"</span>&gt;</span>large right<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-tooltip</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"ttl4"</span> <span class="hljs-attr">large</span> <span class="hljs-attr">position</span>=<span class="hljs-string">"right"</span>&gt;</span>large right tooltop<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-tooltip</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>large</code></td>
<td>Boolean</td>
<td>Defines a large tooltip</td>
<td>Optional</td>
</tr>
<tr>
<td><code>position</code></td>
<td>String[left, right, top, bottom]</td>
<td>Specify the position of the tooltip</td>
<td>Optional</td>
</tr>
</tbody>
</table>



          </div>
        
      </div>
    </section>
    
</main>
</div>



        </mdl-grid>

      </mdl-content>
    </mdl-layout>

    <!-- custom elements polyfill -->
    <script src="../webcomponent-mdl.min.js"></script>
    <script src="../assets/highlight.js"></script>
    <script src="../assets/main.js"></script>

  </body>
</html>
