

<h2 id="demo">Demo</h2>
<div class="html_demo"><!-- Simple list -->
<style>
.demo-list-action {
  width: 300px;
}
</style>

<mdl-list class="demo-list-action">
  <mdl-list-item>
    <mdl-list-item-content>
      Bryan Cranston
    </mdl-list-item-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      Aaron Paul
    </mdl-list-item-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      Bob Odenkirk
    </mdl-list-item-content>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Simple list --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-action</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">300px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-action"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      Bryan Cranston
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      Aaron Paul
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      Bob Odenkirk
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><div class="html_demo"><!-- Icon List -->
<style>
.demo-list-action {
  width: 300px;
}
</style>

<mdl-list class="demo-list-action">
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar>person</mdl-list-item-avatar>
      Bryan Cranston
    </mdl-list-item-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar>person</mdl-list-item-avatar>
      Aaron Paul
    </mdl-list-item-content>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar>person</mdl-list-item-avatar>
      Bob Odenkirk
    </mdl-list-item-content>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Icon List --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-action</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">300px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-action"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      Bryan Cranston
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      Aaron Paul
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      Bob Odenkirk
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><div class="html_demo"><!-- List items with avatar and action -->
<style>
.demo-list-action {
  width: 300px;
}
</style>

<mdl-list class="demo-list-action">
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bryan Cranston</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Aaron Paul</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bob Odenkirk</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- List items with avatar and action --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-action</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">300px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-action"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bryan Cranston<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Aaron Paul<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bob Odenkirk<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><div class="html_demo"><!-- List with avatar and controls -->
<style>
.demo-list-control {
  width: 300px;
}
</style>

<mdl-list class="demo-list-control">
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bryan Cranston</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <mdl-switch checked></mdl-switch>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Aaron Paul</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <mdl-switch></mdl-switch>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bob Odenkirk</span>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <mdl-switch></mdl-switch>
    </mdl-list-item-action>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- List with avatar and controls --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-control</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">300px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-control"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bryan Cranston<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span> <span class="hljs-attr">checked</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Aaron Paul<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bob Odenkirk<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-switch</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><div class="html_demo"><!-- List with avatar and controls -->
<style>
.demo-list-two {
  width: 300px;
}
</style>

<mdl-list class="demo-list-two">
  <mdl-list-item two-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bryan Cranston</span>
      <mdl-list-item-subtitle>62 Episodes</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action info="Actor">
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item two-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Aaron Paul</span>
      <mdl-list-item-subtitle>62 Episodes</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action info="Actor">
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item two-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bob Odenkirk</span>
      <mdl-list-item-subtitle>62 Episodes</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action info="Actor">
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- List with avatar and controls --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-two</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">300px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-two"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">two-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bryan Cranston<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>62 Episodes<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span> <span class="hljs-attr">info</span>=<span class="hljs-string">"Actor"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">two-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Aaron Paul<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>62 Episodes<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span> <span class="hljs-attr">info</span>=<span class="hljs-string">"Actor"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">two-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bob Odenkirk<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>62 Episodes<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span> <span class="hljs-attr">info</span>=<span class="hljs-string">"Actor"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><div class="html_demo"><!-- List with avatar and controls -->
<style>
.demo-list-three {
  width: 650px;
}
</style>

<mdl-list class="demo-list-three">
  <mdl-list-item three-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bryan Cranston</span>
      <mdl-list-item-subtitle large>Bryan Cranston played the role of Walter in Breaking Bad. He is also known
        for playing Hal in Malcom in the Middle.</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item three-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Aaron Paul</span>
      <mdl-list-item-subtitle large>Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
        the "Need For Speed" Movie.</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
  <mdl-list-item three-line>
    <mdl-list-item-content>
      <mdl-list-item-avatar large>person</mdl-list-item-avatar>
      <span>Bob Odenkirk</span>
      <mdl-list-item-subtitle large>Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
        character, Bob stars in his own show now, called "Better Call Saul".</mdl-list-item-subtitle>
    </mdl-list-item-content>
    <mdl-list-item-action>
      <a href="#"><mdl-icon>star</mdl-icon></a>
    </mdl-list-item-action>
  </mdl-list-item>
</mdl-list></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- List with avatar and controls --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span><span class="css">
<span class="hljs-selector-class">.demo-list-three</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">650px</span>;
}
</span><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">mdl-list</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"demo-list-three"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">three-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bryan Cranston<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span> <span class="hljs-attr">large</span>&gt;</span>Bryan Cranston played the role of Walter in Breaking Bad. He is also known
        for playing Hal in Malcom in the Middle.<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">three-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Aaron Paul<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span> <span class="hljs-attr">large</span>&gt;</span>Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
        the "Need For Speed" Movie.<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item</span> <span class="hljs-attr">three-line</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-avatar</span> <span class="hljs-attr">large</span>&gt;</span>person<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-avatar</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span>Bob Odenkirk<span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-subtitle</span> <span class="hljs-attr">large</span>&gt;</span>Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
        character, Bob stars in his own show now, called "Better Call Saul".<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-subtitle</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-content</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>star<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item-action</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list-item</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-list</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-list</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>mdl-list-item-content</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>mdl-list-item</td>
<td><code>two-line</code></td>
<td>Boolean</td>
<td>Set item to have 2 lines</td>
<td>Optional. Cannot be set alongside <code>threeline</code></td>
</tr>
<tr>
<td>mdl-list-item</td>
<td><code>three-line</code></td>
<td>Boolean</td>
<td>Set item to have 3 lines</td>
<td>Optional. Cannot be set alongside <code>twoLine</code></td>
</tr>
<tr>
<td>mdl-list-item-action</td>
<td><code>info</code></td>
<td>string</td>
<td>Set a small header above the action</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-list-item-avatar</td>
<td><code>large</code></td>
<td>Boolean</td>
<td>Larger size</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-list-item-subtitle</td>
<td><code>large</code></td>
<td>Boolean</td>
<td>Larger size</td>
<td>Optional</td>
</tr>
</tbody>
</table>


