

<h2 id="demo">Demo</h2>
<div class="html_demo"><!-- onchange -->
<div>
  <mdl-icon-toggle onchange="alert(event.target.checked);" name="format_bold"></mdl-switch>
</div>

<!-- ripple -->
<div>
<mdl-icon-toggle ripple name="format_italic"></mdl-icon-toggle>
</div>

<!-- checked -->
<div>
<mdl-icon-toggle checked name="face"></mdl-icon-toggle>
</div>

<!-- disabled -->
<div>
<mdl-icon-toggle disabled name="mood"></mdl-icon-toggle>
</div></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- onchange --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-toggle</span> <span class="hljs-attr">onchange</span>=<span class="hljs-string">"alert(event.target.checked);"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"format_bold"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-switch</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-comment">&lt;!-- ripple --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-toggle</span> <span class="hljs-attr">ripple</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"format_italic"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-toggle</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-comment">&lt;!-- checked --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-toggle</span> <span class="hljs-attr">checked</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"face"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-toggle</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-comment">&lt;!-- disabled --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-toggle</span> <span class="hljs-attr">disabled</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"mood"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-toggle</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>name</code></td>
<td>String</td>
<td>Set the icon name&quot;</td>
<td>Required</td>
</tr>
<tr>
<td><code>checked</code></td>
<td>Boolean</td>
<td>Defines the checkbox as &quot;checked&quot;</td>
<td>Optional</td>
</tr>
<tr>
<td><code>disabled</code></td>
<td>Boolean</td>
<td>Defines the checkbox as &quot;disabled&quot;</td>
<td>Optional</td>
</tr>
<tr>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Applies the ripple effect</td>
<td>Optional</td>
</tr>
<tr>
<td><code>onchange</code></td>
<td>Function</td>
<td>Callback to receive the change event</td>
<td>Optional</td>
</tr>
</tbody>
</table>


