

<h2 id="demo">Demo</h2>
<p><style>
  .html_demo mdl-icon,
  .html_demo mdl-badge {
    font-size: 24px; 
  }
</style></p>
<div class="html_demo"><mdl-badge text="6" no-background></mdl-badge>
<mdl-badge text="♥"></mdl-badge>
<mdl-badge text="♥" overlap>
  <mdl-icon>mood</mdl-icon>
</mdl-badge>
<mdl-badge text="♥" no-background>
  <mdl-icon>face</mdl-icon>
</mdl-badge></div><pre><code class="hljs html"><span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"6"</span> <span class="hljs-attr">no-background</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span> <span class="hljs-attr">overlap</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>mood<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">mdl-badge</span> <span class="hljs-attr">text</span>=<span class="hljs-string">"♥"</span> <span class="hljs-attr">no-background</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon</span>&gt;</span>face<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-badge</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>attribute</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>text</code></td>
<td>Assign string value to badge</td>
<td>Required</td>
</tr>
<tr>
<td><code>overlap</code></td>
<td>Makes the badge overlaps its container</td>
<td>Optional</td>
</tr>
<tr>
<td><code>no-background</code></td>
<td>Removes the background of the badge</td>
<td>Optional</td>
</tr>
</tbody>
</table>


