

<h2 id="demo">Demo</h2>
<div class="html_demo"><!-- Lower left -->
<div style="position: relative;">
  <mdl-icon-button name="more_vert" id="demo-menu-lower-left"></mdl-icon-button>
  <mdl-menu target="demo-menu-lower-left">
    <mdl-menu-item>Some Action</mdl-menu-item>
    <mdl-menu-item>Another Action</mdl-menu-item>
    <mdl-menu-item disabled>Disabled Action</mdl-menu-item>
    <mdl-menu-item>Yet Another Action</mdl-menu-item>
  </mdl-menu>
</div></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Lower left --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: relative;"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-button</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"more_vert"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"demo-menu-lower-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"demo-menu-lower-left"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Some Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span> <span class="hljs-attr">disabled</span>&gt;</span>Disabled Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Yet Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><div class="html_demo"><!-- Lower right -->
<div style="position: relative;">
  <mdl-icon-button name="more_vert" id="demo-menu-lower-right"></mdl-icon-button>
  <mdl-menu target="demo-menu-lower-right" align="right">
    <mdl-menu-item>Some Action</mdl-menu-item>
    <mdl-menu-item>Another Action</mdl-menu-item>
    <mdl-menu-item disabled>Disabled Action</mdl-menu-item>
    <mdl-menu-item>Yet Another Action</mdl-menu-item>
  </mdl-menu>
</div></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Lower right --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: relative;"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-button</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"more_vert"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"demo-menu-lower-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"demo-menu-lower-right"</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"right"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Some Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span> <span class="hljs-attr">disabled</span>&gt;</span>Disabled Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Yet Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><div class="html_demo"><!-- Top left -->
<div style="position: relative;">
  <mdl-icon-button name="more_vert" id="demo-menu-top-left"></mdl-icon-button>
  <mdl-menu target="demo-menu-top-left" valign="top">
    <mdl-menu-item>Some Action</mdl-menu-item>
    <mdl-menu-item>Another Action</mdl-menu-item>
    <mdl-menu-item disabled>Disabled Action</mdl-menu-item>
    <mdl-menu-item>Yet Another Action</mdl-menu-item>
  </mdl-menu>
</div></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Top left --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: relative;"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-button</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"more_vert"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"demo-menu-top-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"demo-menu-top-left"</span> <span class="hljs-attr">valign</span>=<span class="hljs-string">"top"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Some Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span> <span class="hljs-attr">disabled</span>&gt;</span>Disabled Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Yet Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><div class="html_demo"><!-- Top right -->
<div style="position: relative;">
  <mdl-icon-button name="more_vert" id="demo-menu-top-right"></mdl-icon-button>
  <mdl-menu target="demo-menu-top-right" valign="top" align="right">
    <mdl-menu-item>Some Action</mdl-menu-item>
    <mdl-menu-item>Another Action</mdl-menu-item>
    <mdl-menu-item disabled>Disabled Action</mdl-menu-item>
    <mdl-menu-item>Yet Another Action</mdl-menu-item>
  </mdl-menu>
</div></div><pre><code class="hljs html"><span class="hljs-comment">&lt;!-- Top right --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"position: relative;"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-icon-button</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"more_vert"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"demo-menu-top-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">mdl-icon-button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"demo-menu-top-right"</span> <span class="hljs-attr">valign</span>=<span class="hljs-string">"top"</span> <span class="hljs-attr">align</span>=<span class="hljs-string">"right"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Some Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span> <span class="hljs-attr">disabled</span>&gt;</span>Disabled Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mdl-menu-item</span>&gt;</span>Yet Another Action<span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu-item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">mdl-menu</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre><h2 id="configuration-options">Configuration options</h2>
<table>
<thead>
<tr>
<th>Element</th>
<th>Attribute</th>
<th>Type</th>
<th>Effect</th>
<th>Remarks</th>
</tr>
</thead>
<tbody>
<tr>
<td>mdl-menu</td>
<td><code>align</code></td>
<td>String (left, right)</td>
<td>Set the horizontal alignment</td>
<td>Optional, default &quot;left&quot;</td>
</tr>
<tr>
<td>mdl-menu</td>
<td><code>ripple</code></td>
<td>Boolean</td>
<td>Apply the ripple effect</td>
<td>Optional</td>
</tr>
<tr>
<td>mdl-menu</td>
<td><code>target</code></td>
<td>String</td>
<td>ID of the targeted element. A click on the targeted element will open the menu</td>
<td>Required</td>
</tr>
<tr>
<td>mdl-menu</td>
<td><code>valign</code></td>
<td>String (top, bottom)</td>
<td>Set the vertical alignment</td>
<td>Optional, default &quot;bottom&quot;</td>
</tr>
</tbody>
</table>


